﻿@{
    Layout = null;

    int dias = 0;
    int horas = 0;
    int minutos = 0;

    Publicacion pu = Model.pub;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TUMIsmitoPE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">









    <!--Source 1-->

    <link type="text/css" href="~/SourcesTUMI/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/line-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/line-awesome-font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/lib/slick/slick.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/lib/slick/slick-theme.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/style.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/responsive.css" rel="stylesheet" />

    <!--Source 2 -->
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-reboot.css">*@

    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-grid.css">*@



    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/css/fonts.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/css/main.css">

    <!--SUBIR IMAGENES-->


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="~/SourcesTUMI/css/M_SubirImagenes.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>


<body>


    <div class="wrapper">



        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo" style="width:320px">

                        <a href="/Home/Index" title=""><img height="40" width="180" src="~/SourcesTUMI/images/TUMImage/LOGO.png" alt=""></a>
                    </div><!--logo end-->
                    @*<div class="search-bar">
                            <form>
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="la la-search"></i></button>
                            </form>
                        </div>*@<!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Index" title="">

                                    <span><img src="~/SourcesTUMI/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            @*<li>
                                    <a href="companies.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon2.png" alt=""></span>
                                        Companies
                                    </a>
                                    <ul>
                                        <li><a href="companies.html" title="">Companies</a></li>
                                        <li><a href="company-profile.html" title="">Company Profile</a></li>
                                    </ul>
                                </li>*@
                            <li>
                                <a href="projects.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon3.png" alt=""></span>
                                    Logros
                                </a>
                            </li>
                            <li>
                                <a href="profiles.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                    Staff
                                </a>
                                <ul>
                                    <li><a href="user-profile.html" title="">Ver staff</a></li>
                                    <li><a href="my-profile-feed.html" title="">Unirme al staff</a></li>
                                </ul>
                            </li>
                            @*<li>
                                    <a href="jobs.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                        Jobs
                                    </a>
                                </li>*@
                            <!--<li>
                            <a href="#" title="" class="not-box-open">
                                <span><img src="~/SourcesTUMI/images/icon6.png" alt=""></span>
                                Messages
                            </a>
                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/ny-img1.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img2.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img3.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                                <div class="view-all-nots">
                                    <a href="messages.html" title="">View All Messsages</a>
                                </div>
                            </div>-->
                            <!--nott-list end-->
                            <!--</div>--><!--notification-box end-->
                            <!--</li>-->
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/SourcesTUMI/images/icon7.png" alt=""></span>
                                    Notificacion
                                </a>
                                <div class="notification-box">
                                    <div class="nt-title">
                                        @*<h4>Setting</h4>*@
                                        <a href="#" title="">Limpiar todo</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a> Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#" title="">Ver todas las notificaciones</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img height="30" width="30" src=@Model.UsuarioActivo.foto alt="">
                            <a href="#" title="">@Model.UsuarioActivo.nombre</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">

                            <ul class="us-links">
                                <li><a href="/Home/Logout" title=""><i class="fa fa-user fa-1x" aria-hidden="true"></i>Ver mi perfil</a></li>
                            </ul>
                            <h3>Modo Oscuro</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Activado</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" checked name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Desactivado</small>
                                    </div>
                                </li>
                            </ul>

                            <h3>Configuracion</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Configura tu Cuenta</a></li>
                                <li><a href="#" title="">Privacidad</a></li>
                                <li><a href="#" title="">Novedades</a></li>
                                <li><a href="#" title="">Terminos y Condiciones</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <main>



           



            <div class="main-section">


                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                           
                            <div class="col-lg-4 col-md-5 no-pd">


                                <div class="main-ws-sec">


                                 



                                    <div class="posts-section" id="seccionPublicaciones">

                                        
                                            <div class="post-bar">
                                                <div class="post_topbar">
                                                    <div class="usy-dt">
                                                        <img class="rounded-circle" style=" max-width: 50px;max-height: 50px; min-height:50px;min-height:50px" src=@pu.usuario.foto alt="">
                                                        <div class="usy-name">
                                                            <h3>@pu.usuario.nombre @pu.usuario.apellido</h3>
                                                            @{TimeSpan diferenciaFecha = (Model.fechaActual - pu.fechaCreacion);

                                                                Console.WriteLine(Model.fechaActual);
                                                                Console.WriteLine(pu.fechaCreacion);
                                                                dias = diferenciaFecha.Days;
                                                                horas = diferenciaFecha.Hours;

                                                                minutos = diferenciaFecha.Minutes;

                                                                if (dias == 0 && horas == 0 && minutos == 0)
                                                                {
                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">justo ahora</span>
                                                                }
                                                                else if (dias > 0)
                                                                {

                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @dias  dias y @horas h </span>
                                                                }
                                                                else if (horas > 0 )
                                                                {


                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @horas h y @minutos min </span>

                                                                }
                                                                else
                                                                {



                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @minutos min </span>


                                                                }





                                                            }



                                                        </div>
                                                    </div>
                                                    <div class="ed-opts">
                                                        <a href="#" title="" class="ed-opts-open">
                                                            <i class="la

                                                                                                     la-ellipsis-v"></i>
                                                        </a>
                                                        <ul class="ed-options">
                                                            <li><a href="#" title="">Edit Post</a></li>
                                                            <li><a href="#" title="">Unsaved</a></li>
                                                            <li><a href="#" title="">Unbid</a></li>
                                                            <li><a href="#" title="">Close</a></li>
                                                            <li><a href="#" title="">Hide</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="epi-sec">
                                                    <ul class="descp">

                                                        <li><img src="~/SourcesTUMI/images/icon8.png" alt=""><span>Logro</span></li>
                                                        <li><img src="~/SourcesTUMI/images/icon9.png" alt=""><span>Logro</span></li>
                                                    </ul>
                                                    <ul class="bk-links">
                                                        <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                        @*<li><a href="#" title=""><i class="la la-envelope"></i></a></li>*@
                                                    </ul>
                                                </div>
                                                <div class="job_descp">
                                                    <h3>"@pu.titulo"</h3>

                                                    <ul class="job-dt">

                                                        <li><a href="~/Publicacion/detalle?id=@pu.id" title="">Ver mas</a></li>

                                                        <li><span> Recaudado: S/@Convert.ToDouble(pu.donaciones.Sum(g => g.monto))</span></li>
                                                    </ul>
                                                    @if (pu.descripcion.Length <= 80)
                                                    {
                                                        <p>@pu.descripcion</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@pu.descripcion.Substring(0, 80)...</p>
                                                    }





                                                    <div class="post-block-photo js-zoom-gallery">
                                                        @if (pu.fotos.Count > 5)
                                                        {
                                                            <a href=@pu.fotos[0].contenido class="half-width"><img style="height:140px" src=@pu.fotos[0].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[1].contenido class="half-width"><img style="height:140px" src=@pu.fotos[1].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[2].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[2].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[3].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[3].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[4].contenido class="more-photos col-3-width">

                                                                <img style="height:115px" src=@pu.fotos[4].contenido alt="photo">

                                                                <span class="h2">+@(pu.fotos.Count - 5)</span>
                                                            </a>
                                                            for (int i = 0; i < pu.fotos.Count; i++)
                                                            {
                                                                if (i > 4)
                                                                {
                                                                    <a href=@pu.fotos[i].contenido> </a>
                                                                }
                                                            }
                                                        }




                                                    </div>

                                                    <ul class="skill-tags">
                                                        <li><a href="#" title="">Niños</a></li>
                                                        <li><a href="#" title="">Escuela</a></li>
                                                        <li><a href="#" title="">Alumbrado</a></li>
                                                        <li><a href="#" title="">Electrico</a></li>

                                                    </ul>
                                                </div>
                                                <div class="job-status-bar">
                                                    <ul class="like-com">
                                                        <li>
                                                            <a style="margin-right: 32px;" href="#"><i class="la la-heart"></i> Like</a>

                                                            @foreach (ReaccionPublicacion reac in pu.reacciones)
                                                            {
                                                                if (reac.tipo == 0)
                                                                {
                                                                    <span> <img class="rounded-circle" height="30" width="30" src=@reac.usuario.foto alt=""></span>
                                                                }


                                                            }
                                                            <img src="~/files/fotosPublicaciones/123603957_222736775874400_760790310478950820_n.jpg" />

                                                            <span>@pu.reacciones.Count(o => o.tipo == 0)</span>
                                                        </li>

                                                        <li><a href="#" title="" class="com"><img src="~/SourcesTUMI/images/com.png" alt=""> Comentarios @pu.comentarios.Count</a></li>
                                                    </ul>
                                                    <a><i class="la la-eye"></i>@pu.vista</a>
                                                </div>
                                            </div><!--post-bar end-->
                                        


                                    </div><!--posts-section end-->













                                </div><!--main-ws-sec end-->
                            </div>
                            <div class="col-lg-7 pd-right-none no-pd">

                                <div class="acc-setting">
                                    <h3> <i class="fa fa-sign-language fa-2x" aria-hidden="true"></i> Culminar trabajo</h3>
                                    <form method="post" action="/Publicacion/CerrarTrabajo" enctype="multipart/form-data" >



                                        <div class="cp-field">
                                            <h5>Descripcion</h5>
                                            <textarea name="descripcion" ></textarea>
                                            <span class="text-danger">@Html.ValidationMessage("descripcion")</span>
                                        </div>
                                        <input hidden name="idPostulacion" value=@pu.postulaciones[0].id />
                                        <div class="cp-field">
                                            <h5>Evidencias</h5>
                                            <div class="cpp-fiel">

                                               
                                                    <div class="containerImagenes">
                                                        <fieldset class="form-group">

                                                            <a href="javascript:void(0)" onclick="$('#pro-image').click()">Subir Archivos</a>
                                                            <input type="file" id="pro-image" name="files" style="display: none;" class="form-control" multiple>
                                                        </fieldset>
                                                        <div class="preview-images-zone">



                                                        </div>
                                                    </div>
                                                

                                                <span class="text-danger">@Html.ValidationMessage("evidencias")</span>

                                            </div>
                                        </div>


                                        <div class="save-stngs pd3">
                                            <ul>
                                                <li><button type="submit">Aplicar</button></li>
                                                <li><button type="submit">Cancelar</button></li>
                                            </ul>
                                        </div><!--save-stngs end-->
                                    </form>
                                </div><!--acc-setting end-->

                            </div>
                        </div>
                    </div><!-- main-section-data end-->
                </div>
            </div>
        </main>




        





    </div><!--theme-layout end-->
    <!--SOURCE 2-->

    <footer>

        <!-- JS Scripts -->
        <script src="~/SourcesTUMI/Sources2/js/jQuery/jquery-3.4.1.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.appear.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.mousewheel.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/perfect-scrollbar.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.matchHeight.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/svgxuse.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/imagesloaded.pkgd.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/Headroom.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/velocity.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ScrollMagic.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.waypoints.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.countTo.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/popper.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/material.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/bootstrap-select.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/smooth-scroll.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/selectize.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/swiper.jquery.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/moment.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/daterangepicker.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/fullcalendar.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/isotope.pkgd.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ajax-pagination.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/Chart.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/chartjs-plugin-deferred.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/circle-progress.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/loader.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/run-chart.js"></script>

        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.gifplayer.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-and-player.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-playlist-plugin.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ion.rangeSlider.js"></script>

        <script src="~/SourcesTUMI/Sources2/js/main.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs-init/libs-init.js"></script>
        <script defer src="~/SourcesTUMI/Sources2/fonts/fontawesome-all.js"></script>

        <script src="~/SourcesTUMI/Bootstrap/dist/js/bootstrap.bundle.js"></script>

        <!--SOURCE 1-->
        <script src="~/SourcesTUMI/js/jquery.min.js"></script>
        <script src="~/SourcesTUMI/js/popper.js"></script>
        <script src="~/SourcesTUMI/js/bootstrap.min.js"></script>
        <script src="~/SourcesTUMI/js/jquery.mCustomScrollbar.js"></script>
        <script src="~/SourcesTUMI/lib/slick/slick.min.js"></script>
        <script src="~/SourcesTUMI/js/scrollbar.js"></script>
        <script src="~/SourcesTUMI/js/script.js"></script>


        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.magnific-popup.js"></script>


        <!--subir imagenes-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="~/SourcesTUMI/js/SubirImagenes.js"></script>

        <!--JS TUMI-->

        <script src="~/SourcesTUMI/js/M_TUMI.js"></script>




    </footer>
</body>
</html>


