﻿
@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>TUMIsmitoPE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/responsive.css">
</head>


<body>


    <div class="wrapper">



        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo" style="width:320px">

                        <a href="/Home/Index" title=""><img height="40" width="180" src="~/SourcesTUMI/images/TUMImage/LOGO.png" alt=""></a>
                    </div><!--logo end-->
                    @*<div class="search-bar">
                            <form>
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="la la-search"></i></button>
                            </form>
                        </div>*@<!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Index" title="">

                                    <span><img src="~/SourcesTUMI/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            @*<li>
                                    <a href="companies.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon2.png" alt=""></span>
                                        Companies
                                    </a>
                                    <ul>
                                        <li><a href="companies.html" title="">Companies</a></li>
                                        <li><a href="company-profile.html" title="">Company Profile</a></li>
                                    </ul>
                                </li>*@
                            <li>
                                <a href="projects.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon3.png" alt=""></span>
                                    Logros
                                </a>
                            </li>
                            <li>
                                <a href="profiles.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                    Staff
                                </a>
                                <ul>
                                    <li><a href="user-profile.html" title="">Ver staff</a></li>
                                    <li><a href="my-profile-feed.html" title="">Unirme al staff</a></li>
                                </ul>
                            </li>
                            @*<li>
                                    <a href="jobs.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                        Jobs
                                    </a>
                                </li>*@
                            <!--<li>
                            <a href="#" title="" class="not-box-open">
                                <span><img src="~/SourcesTUMI/images/icon6.png" alt=""></span>
                                Messages
                            </a>
                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/ny-img1.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img2.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img3.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                                <div class="view-all-nots">
                                    <a href="messages.html" title="">View All Messsages</a>
                                </div>
                            </div>-->
                            <!--nott-list end-->
                            <!--</div>--><!--notification-box end-->
                            <!--</li>-->
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/SourcesTUMI/images/icon7.png" alt=""></span>
                                    Notificacion
                                </a>
                                <div class="notification-box">
                                    <div class="nt-title">
                                        <h4>Setting</h4>
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#" title="">View All Notification</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img height="30" width="30" src=@Model.UsuarioActivo.foto alt="">
                            <a href="#" title="">@Model.UsuarioActivo.nombre</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">

                            <ul class="us-links">
                                <li><a href="/Home/Logout" title=""><i class="fa fa-user fa-1x" aria-hidden="true"></i>Ver mi perfil</a></li>
                            </ul>
                            <h3>Modo Oscuro</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Activado</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" checked name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Desactivado</small>
                                    </div>
                                </li>
                            </ul>

                            <h3>Configuracion</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Configura tu Cuenta</a></li>
                                <li><a href="#" title="">Privacidad</a></li>
                                <li><a href="#" title="">Novedades</a></li>
                                <li><a href="#" title="">Terminos y Condiciones</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <section class="forum-sec">
            <div class="container">
                <div class="forum-links">
                    <ul>
                        <li><a href="~/Publicacion/detalle?id=@Model.pub.id" title="">Detalle</a></li>
                        <li class="active"><a href="~/Publicacion/Postulaciones?id=@Model.pub.id" title="">Postulaciones</a></li>

                    </ul>
                </div><!--forum-links end-->
                <div class="forum-links-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </section>
        <section class="companies-info">
            <div class="container">
                <div class="company-title">
                    <h3>Todas las postulaciones</h3>

                    <p id="contadorTiempo" style="text-align: center;
  font-size: 20px;
  margin-top: 0px;"></p>
                </div><!--company-title end-->

                <div class="companies-list">
                    <div class="row">
                        @foreach (Postulacion postulacion in Model.pub.postulaciones)
                        {

                            <div class="col-lg-3 col-md-4 col-sm-6" id="post-@postulacion.id">
                                <div class="company_profile_info">
                                    <div class="company-up-info">
                                        <img src=@postulacion.usuario.foto style="object-fit: inherit;height:90px;width:90px;" alt="">
                                        <h3>@postulacion.usuario.nombre @postulacion.usuario.apellido </h3>
                                        <h4>S/@Convert.ToDouble(postulacion.monto)</h4>
                                        <h4>Dias:@postulacion.diasRealizacion</h4>
                                        <h4>Descripcion:<br />@postulacion.descripcion</h4>
                                        <ul>
                                            <li><a href="#" title="" class="message-us"><i class="fa fa-thumbs-up"></i></a></li>
                                            <li><a href="#" title="" class="follow">@postulacion.likesPostulacion.Count</a></li>

                                        </ul>
                                    </div>
                                    <a href="#" title="" class="view-more-pro">Ver perfil</a>
                                </div><!--company_profile_info end-->
                            </div>
                        }


                    </div>
                </div><!--companies-list end-->
                <div class="process-comm">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div><!--process-comm end-->
            </div>
        </section><!--companies-info end-->



    </div><!--theme-layout end-->



    <script type="text/javascript" src="~/SourcesTUMI/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/popper.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/flatpickr.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/script.js"></script>



   
        <script>



        if (parseInt('@Model.pub.postulaciones.Count')>0) {


        var countDownDate = new Date('@Model.pub.limitePostulaciones.ToString("MM/dd/yyyy HH:mm:ss")').getTime();

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="contadorTiempo"
                    document.getElementById("contadorTiempo").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("contadorTiempo").innerHTML = "EXPIRED";

                        var request = $.ajax(
                            {

                                url: '/Publicacion/ActualizarEstadoPostulaciones',
                                type: 'get',
                                data: {
                                    id:'@Model.pub.id'
                                }
                            }


                        );
                        request.done(

                            function (e) {

                                $.each(e, function () {
                                    $("#post-" + this.id).remove();
                                });

                            }

                        );
                    }
                }, 1000);

        }

        </script>


        

    </body>

</html>